
html, body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

li {
  padding: 15px;
  border: 2px solid white;
  margin: 20px 5px;
}

li a {
  color: white;
  text-decoration: none;
}

.headNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainDiv {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.nameDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px 30px;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
}

.aboutDiv {
  height: 100vh;
  background-color: lightpink;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.aboutCol1 {
  padding: 30px 30px;
  border: 2px solid white;
  flex: 1;
}
.aboutCol2 {
  flex: 1;
}

.flip {
  display: inline-block;
}

.linkFlip:hover .flip{
    animation: spin-link 0.5s linear forwards;
}

@keyframes spin-link {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.experienceDiv {
  height: 100vh;
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillsDiv {
  height: 100vh;
  background-color: lightsalmon;
}

.projectDiv {
  height: 100vh;
  background-color: lightskyblue;
}

.contactDiv {
  height: 100vh;
  background-color: lightyellow;
}

.experienceCol1,
.experienceCol2,
.experienceCol3 {
  flex: 1;
  border: 2px dashed white;
}



@media only screen and (max-width: 840px) {
  .aboutDiv {
    flex-direction: column
  }

  .experienceDiv {
    flex-direction: column;
  }

}

